.main {
  font-family: sans-serif;
  background-color: rgba(241, 239, 239, 0.545);
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.738);
}

.nav_right {
  display: flex;
  align-items: center;
}

.title {
    font-size: 1.2em;
    font-weight: normal;
    padding: 0.75em;
}

.dropdown_line {
  display: block;
  width: 23px;
  height: 3.2px;
  background-color: black;
  margin: 3px;
  border-radius: 30px;
  cursor: pointer;
}

.dropdown {
  padding-right: 0.8em;
}

.nav_links {
  display: none;
  padding: 1em;
}

.nav_links a {
  padding: 0 0.75em;
  font-size: 0.75em;
  font-weight: lighter;
  cursor: pointer;
}

.nav_links a:hover,
.nav_links a:active {
  color: rgb(39, 134, 211);
}

.apply_backdrop {
  /* position: fixed; */
  background-color: black;
  border-radius: 30px;
  margin-right: 25px;
  padding: 0.35em;
  cursor: pointer;
}

.apply {
  color: white;
  font-size: 0.75em;
  font-weight: lighter;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 736px) {
  .dropdown {
    display: none;
  }
  .nav {
    padding: 0.25em 0.5em;
    background-color: rgba(255, 255, 255, 0.871);
  }
  .nav_links {
    display: flex;
  }

}
@media screen and (min-width:1024px) {
  .nav {
    padding-left: 7em;
    padding-right: 7em;
    width: 100vw;
    
  }
}

.intro {
  width: 100vw;
  height: 70vh;
  background: url("../images/title_mobile_background.jpeg") no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.intro_subtitle_backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 30px;
  margin: 1.5em;
  height: 3.3em;
  cursor: pointer;
}

.intro_subtitle {
  color: white;
  font-size: 1.1em;
  padding: 2em;
}

.subtitle_backdrop {
  background: url("../images/subtitle_backdrop_background.jpeg") no-repeat center;
  background-size: 100% auto;;
  width: 100vw;
  text-align: center;
  padding: 1.2em 2em;
}

.subtitle_backdrop a{
  font-size: 0.9em;
  font-weight: normal;
  color: black;
  animation: cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s 1 normal forwards running fade-in;
}
.subtitle_link {
  font-size: 0.9em;
  font-weight: normal;
  color: black;
  text-decoration: none;
  animation: cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s 1 normal forwards running fade-in;
}
.subtitle_link:hover,
.subtitle_link:active {
  text-decoration: underline;
}

@media screen and (min-width: 736px) {
  .intro {
    background: url("../images/title_background.jpeg") no-repeat;
    background-size: 100% 100%;
  }
}

.first_header {
  display: flex;
  flex-direction: column;
  padding: 5em 3em 3em 7em;
  height: 100vh;
}

.first_header h1{
  font-size: 3.5rem;
  background: linear-gradient(to right, #f06844 0%, #ee4c54 25%, #d45e95 50%, #9c6ca6 75%, #6583c1 100%);
  padding-right:1.4em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.first_header p{
  padding: 2rem 1.2rem 2rem 0;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.35;
}

.first_header_spacing {
  display: none;
}

@media screen and (min-width: 570px) {
  .first_header {
    padding: 5em 3.5em 3em 7em;
  }
}

@media screen and (min-width: 655px) {
  .first_header {
    padding: 5em 7.7em 3em 9em;
  }
}


@media screen and (min-width: 736px) {
  .first_header {
    padding: 8em 4em;
    height: 80vh;
  }
  .first_header h1{
    text-align: center;
    font-size: 5rem;
    padding-right: 0;
  }
  .first_header p{
    font-size: 1.45rem;
    font-weight: normal;
    text-align: center;
  }
}

@media screen and (min-width: 860px) {
  .first_header {
    padding: 8em 2em;
    height: 75vh;
  }
  .first_header h1 {
    font-size: 5rem;
    padding-right:0;
  }
  .first_header p {
    padding: 2em 5em;
  }
}



@media screen and (min-width: 1024px) {
  .first_header {
    padding: 8em 2em;
    height: 90vh;
  }
  .first_header h1{
    font-size: 5.3rem;
    padding: 0 0;
  }
  .first_header p {
    padding: 2em 5.5em;
    font-size: 1.8em;
  }
}

@media screen and (min-width:1350px) {
  .first_header h1{
    font-size:6rem;
    padding: 0 0;
  }
  .first_header p {
    padding: 2em 7.8em;
    font-weight: 500;
    font-size: 1.8em;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.created {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  /* box-shadow: 1px 1px rgba(0,0,0,0.25); */
  /* background: rgba(199, 187, 187, 0.7); */
  /* margin: 3rem 1rem; */
  padding-top: 7rem;
}

.created_header {
  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  width: 70vw;
  height: 60vh;
  background: white;
  border-radius: 20px;
  margin-bottom: 1rem;
  /* padding: 3rem 2.5rem; */
  
}

.created_header h1 {
  font-size: 2.7rem;
  font-weight: 600;
  padding: 3rem 2rem;
}

.created_header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15rem 3rem; */
  background-color: black;
  color:white;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  font-weight: normal;
  margin-top: 16rem;
  margin-left: 19rem;
  cursor: pointer;
}

.fees_header {
  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  width: 70vw;
  height: 60vh;
  background: linear-gradient(to right bottom, rgb(252, 218, 0), rgb(252, 131, 196));
  border-radius: 20px;
  margin-bottom: 1rem;
  /* padding: 3rem 2.5rem; */
  
}

.fees_header h1 {
  font-size: 5.7rem;
  line-height: 0.8;
  font-weight: 600;
  padding: 3rem 2rem;
  color: white;
}

.fees_header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15rem 3rem; */
  background-color: white;
  color:rgb(252, 131, 196);
  width: 25px;
  height: 25px;
  border-radius: 30px;
  font-weight: normal;
  /* margin-top: 0rem; */
  margin-left: 19rem;
  cursor: pointer;
}

.interest_header {
  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  width: 70vw;
  height: 60vh;
  background: white;
  border-radius: 20px;
  margin-bottom: 1rem;
  /* padding: 3rem 2.5rem; */
  
}

.interest_header h1 {
  font-size: 5.7rem;
  line-height: 0.8;
  font-weight: 600;
  padding: 3rem 2rem;
  color: black;
}

.interest_header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15rem 3rem; */
  background-color: black;
  color:white;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  font-weight: normal;
  /* margin-top: 0rem; */
  margin-left: 19rem;
  cursor: pointer;
}

.cash_header {
  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  width: 70vw;
  height: 60vh;
  background: black;
  border-radius: 20px;
  margin-bottom: 1rem;
  /* padding: 3rem 2.5rem; */
  
}

.cash_header h1 {
  font-size: 5.7rem;
  line-height: 0.8;
  font-weight: 600;
  padding: 3rem 2rem;
  color: white;
}

.cash_header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15rem 3rem; */
  background-color: white;
  color:black;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  font-weight: normal;
  /* margin-top: 0rem; */
  margin-left: 19rem;
  cursor: pointer;
}
.cash_header h3 {
  font-size: 2rem;
  padding: 3rem 2rem;
  background: linear-gradient(to right, green, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}